div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.div2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.box {
    height: 200px;
    width: 200px;
}

.blauw {
    background-color: blue;
}

.zwart {
    background-color: black;
}

.rood {
    background-color: red;
}

.groen {
    background-color: green;
}