.flex-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    background-color: lightgray;
    height: 10vh;
    width: 100%;
}

.box {
    display: flex;
    width: 200px;
    height: 10vh;
}

.item1 {
    display: flex;
    color: blue;
    font-size: 2em;
    justify-content: flex-end;
    border: 25% solid black;
}

.item2 {
    display: flex;
    color: blue;
    font-size: 2em;
    justify-content: flex-end;
}

.item3 {
    display: flex;
    color: blue;
    font-size: 2em;
    justify-content: flex-end;
}

.item4 {
    display: flex;
    color: blue;
    font-size: 2em;
    justify-content: flex-start;
}

.item5 {
    display: flex;
    color: blue;
    font-size: 2em;
    justify-content: flex-start;
}

.item6 {
    display: flex;
    color: blue;
    font-size: 2em;
    justify-content: flex-start;
    border: 25% solid black;
}